# Exercise 6: Data Cleaning and Analysis

Welcome to Exercise 6!

This exercise is a more free-form challenge than the previous ones you have completed. What I would like you to do is to demonstrate some of what you have learned in the previous exercises with another dataset.

<img src="images/london2012.gif"/>

First, by running the cell below we can display a sample of 25 rows from a CSV file containing records about athletes who competed in the London 2012 Olympics. This is a data set produced summarizing data prepared by the Guardian newspaper originally found [here](https://docs.google.com/spreadsheets/d/1CKSOQcrPDhxniv-V1FVFAo2rVXrguBCOFAsGZ_IwPJo/edit#gid=0).

In [1]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv').sample(25)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
6744,Mingjuan Wang,People's Republic of China,26,150.0,48.0,F,10/11/1985,Weightlifting,Women's 48kg,YES,1,NaN,NaN
438,Aliaksandr Bahdanovich,Belarus,30,193.0,100.0,M,4/29/1982,Canoe Sprint,Men's Canoe Double (C2) 1000m,YES,NaN,0.5,NaN
7809,Qiang Qin,People's Republic of China,29,184.0,105.0,M,4/18/1983,Athletics,Men's Javelin Throw,NaN,NaN,NaN,NaN
8571,Saylom Ardee,Thailand,26,176.0,NaN,M,07/07/1986,Boxing,Men's Light (60kg),NaN,NaN,NaN,NaN
7212,Nicole Buchler,Switzerland,28,162.0,55.0,F,12/17/1983,Athletics,Women's Pole Vault,NaN,NaN,NaN,NaN
1191,Bahar Dogan,Turkey,37,158.0,48.0,F,09/02/1974,Athletics,Women's Marathon,NaN,NaN,NaN,NaN
2302,Denis Tsargush,Russian Federation,24,177.0,74.0,M,09/01/1987,Wrestling,Men's 74kg Freestyle,NaN,NaN,NaN,NaN
258,Aleksandar Aleksandrov,Bulgaria,27,164.0,NaN,M,10/31/1984,Boxing,Men's Light Fly (49kg),NaN,NaN,NaN,NaN
7476,Ophelie Meilleroux,France,28,164.0,62.0,F,1/18/1984,Football,Women's Football,NaN,NaN,NaN,NaN
6675,Mihyun Park,Republic of Korea,26,160.0,60.0,F,1/26/1986,Hockey,Women's Hockey,NaN,NaN,NaN,NaN
2730,Elodie Godin,France,27,191.0,80.0,F,07/05/1985,Basketball,Women's Basketball,NaN,NaN,NaN,NaN
1679,Chad le Clos,South Africa,20,184.0,76.0,M,04/12/1992,Swimming,Men's 100m Butterfly; Men's 200m Butterfly; Me...,YES,1,1,NaN
1934,Collis Birmingham,Australia,27,189.0,71.0,M,12/27/1984,Athletics,Men's 5000m,NaN,NaN,NaN,NaN
7072,Natasa Krsmanovic,Serbia,27,188.0,73.0,F,6/19/1985,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN
8847,Silvana Saldarriaga,Peru,19,155.0,58.0,F,3/13/1993,Weightlifting,Women's 63kg,NaN,NaN,NaN,NaN
9648,Valentina Arrighetti,Italy,27,185.0,72.0,F,1/26/1985,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN
7389,Oleksiy Borysov,Ukraine,29,190.0,96.0,M,06/01/1983,Sailing,Men's Finn,NaN,NaN,NaN,NaN
6379,Matias Aguirregaray,Uruguay,23,178.0,79.0,M,04/01/1989,Football,Men's Football,NaN,NaN,NaN,NaN
10409,Zsofia Csonka,Hungary,28,164.0,83.0,F,09/12/1983,Shooting,Women's 10m Air Pistol; Women's 25m Pistol,NaN,NaN,NaN,NaN
1080,Asafa Powell,Jamaica,29,175.0,78.0,M,11/23/1982,Athletics,Men's 100m; Men's 4 x 100m Relay,NaN,NaN,NaN,NaN
9369,Therese Lundqvist,Sweden,21,171.0,60.0,F,8/23/1990,Shooting,Women's Skeet,NaN,NaN,NaN,NaN
3998,Issam Nima,Algeria,33,187.0,75.0,M,04/08/1979,Athletics,Men's Triple Jump,NaN,NaN,NaN,NaN
6131,Marie Riou,France,30,172.0,68.0,F,8/21/1981,Sailing,Women's Elliott 6m,NaN,NaN,NaN,NaN
6594,Michael Maier,Czech Republic,48,188.0,102.0,M,05/07/1964,Sailing,Men's Finn,NaN,NaN,NaN,NaN
9089,Stig-Andre Berge,Norway,29,NaN,NaN,M,7/20/1983,Wrestling,Men's 60kg Greco-Roman,NaN,NaN,NaN,NaN

## The Challenge

By adding your own code in your own Jupyter Notebook cells below (you can add a cell by pressing the `+` button in the toolbar), try and answer some of the following questions about this data set:
* How many rows are in this data set?
* Apply some filtering to remove rows that might be incomplete or have errors. How many rows remain after your filters are applied?
* How many atheletes are in the data set?
* Which athlete competed in the most events?
* How many countries are present in the data set?
* Which country fielded the most athletes?
* Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.
* For each country return the athlet who won most medals (gold comes first, them silver, then bronze). If there are ties (more than one athlet with exactly the same rank) show all of them (the most ranked ones)
* What is the average age, height, and weight for each country's olympic teams?
* As per last question, but by Male and Female athletes.
* Finally, calculate the [Body Mass Index (BMI)](https://en.wikipedia.org/wiki/Body_mass_index) for each athlete in the data set, and display the top 10 rows for male athletes, and again for female athletes.

If you comfortably work out answers for all of these, feel free to add your own analyses!

In [2]:
import sys
import numpy as np
np.set_printoptions(threshold=np.inf)
df = pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv')

Q1: How many rows are in this data set?

In [3]:
row_size = df.index.size
display(row_size)

10422

Q2: Apply some filtering to remove rows that might be incomplete or have errors. How many rows remain after your filters are applied?

In [4]:
athletes_complete_data_set = df[df.columns[:9:]].dropna()
display(athletes_complete_data_set)
athletes_complete_data_set_row_size = athletes_complete_data_set.index.size
display(athletes_complete_data_set_row_size)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event
0,Elaine,Brazil,29,168.0,64.0,F,11/01/1982,Football,Women's Football
4,A G Kruger,United States of America,33,193.0,125.0,M,2/18/1979,Athletics,Men's Hammer Throw
5,A Lam Shin,Republic of Korea,25,167.0,57.0,F,9/23/1986,Fencing,Women's Individual Epee; Women's Team Epee
6,Aaron Brown,Canada,20,198.0,79.0,M,5/27/1992,Athletics,Men's 200m
7,Aaron Sarmiento,Spain,25,180.0,72.0,M,8/26/1986,Sailing,Men's 470
...,...,...,...,...,...,...,...,...,...
10417,Zurabi Datunashvili,Georgia,21,183.0,74.0,M,6/18/1991,Wrestling,Men's 74kg Greco-Roman
10418,Zurine Rodriguez,Spain,30,154.0,49.0,F,5/21/1982,Triathlon,Women's Triathlon
10419,Zuzana Bergrova,Czech Republic,27,175.0,64.0,F,11/24/1984,Athletics,Women's 4 x 400m Relay
10420,Zuzana Hejnova,Czech Republic,25,173.0,62.0,F,12/19/1986,Athletics,Women's 400m Hurdles; Women's 4 x 400m Relay
10421,Zuzana Stefecekova,Slovakia,28,166.0,72.0,F,1/15/1984,Shooting,Women's Trap

9069

Q3: How many atheletes are in the data set?

In [5]:
athelete_total = df['Name'].dropna().size
display(athelete_total)

10422

Q4: Which athlete competed in the most events?

In [6]:
athlete_with_most_events = df.loc[df["Event"].str.count(';').idxmax()]['Name']
display(athlete_with_most_events)

'Michael Phelps'

Q5: How many countries are present in the data set?

In [7]:
countries_in_data_set = df['Country'].dropna().unique().size
display(countries_in_data_set)

205

Q6: Which country fielded the most athletes?

In [8]:
country_with_the_most_athlete = df['Country'].value_counts().idxmax()
display(country_with_the_most_athlete)

'Great Britain'

Q7: Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.

In [188]:
medal_table = df[df.columns[10:13]].dropna(axis='rows', thresh=1)
medal_table.insert(0, df.columns[1], df['Country'])
country_medal_table = medal_table.copy()
group_by_country = country_medal_table.groupby('Country') 

list(group_by_country['Gold'].count)

TypeError: 'method' object is not iterable

Q8: For each country return the athlet who won most medals (gold comes first, them silver, then bronze). If there are ties (more than one athlet with exactly the same rank) show all of them (the most ranked ones)

Q9: What is the average age, height, and weight for each country's olympic teams?

Q10: As per last question, but by Male and Female athletes.

Q11: Finally, calculate the Body Mass Index (BMI) for each athlete in the data set, and display the top 10 rows for male athletes, and again for female athletes.

When you are finished:

If you are running this notebook using Binder, choose **Save and Checkpoint** from the **File** menu, **rename** your notebook to add a hyphen and your initials to the notebook name e.g. `06_Data_Cleaning_and_Analysis-MassiIzzo`, then choose **Download as Notebook** and save it to your computer or USB stick.

If you are running this notebook on your own machine, choose **Save and Checkpoint** from the **File** menu, choose **Make a copy** from the **File** menu, then **rename** your notebook to add a hyphen and your initials to the notebook name e.g. rename from `06_Data_Cleaning_and_Analysis-Copy1` to `06_Data_Cleaning_and_Analysis-MassiIzzo`.

<sup>Copyright © David Johnson, 2018. This notebook is provided for use with permission for the Michaelmas Term 2019 University of Oxford course "Introduction to Python - Programming for Data Science". Slightly modified by Massimiliano Izzo, 2019</sup>