# Final Assignment Part 1: Exercises on Basic Python and Numpy

### Logistics

**Deadline.** Parts 1 and 2 of the Capstone project are due at 11:59pm on Wednesday, 18 December 2019. Late submissions will not be accepted. This notebook forms Part 1 of the Assignment and count up to 30 points out of the 100 maximum points of the assignment.

**Rules.** Don't share your code with anybody. You are welcome to discuss questions with other students, but don't share the answers.

**Support.** You are not alone! The Slack workspace at https://i2pp4ds-mt2019.slack.com will be stay active up until after the assignment deadline. Please feel free to ask each other questions and discuss approaches, even if you're not in the same physical classroom. The tutor will be available to answer general questions too, so please **do not hesitate** to ask questions even after the last week of term. 

**Advice.** Develop your answers incrementally. To perform a complicated table manipulation, break it up into steps, perform each step on a different line, give a new name to each result, and check that each intermediate result is what you expect. You can add any additional names or functions you want to the provided cells.

Consider the following list of records, expressed as tuples, where the first tuple in the list contains the header for each record:

```
records = [
    ('name', 'sex', 'age', 'age_unit', 'height', 'height_unit', 'weight', 'weight_unit'),
    ('Mark', 'M', 12, 'year', 146, 'cm', 39, 'kg'),
    ('Lisa', 'F', 10, 'year', 1.33, 'm', 30, 'kg'),
    ('Amin', 'M', 36, 'month', 92, 'cm', 114, 'hg'),
    ('Peter', 'M', 1, 'month', 52, 'cm', 3900, 'g'),
    ('Marcus', 'M', 12, 'month', 135, 'cm', 42, 'kg'),
    ('Johanna', 'F', 8, 'year', 1.25, 'm', 24, 'kg'),
    ('Cora', 'F', 4, 'year', 99, 'cm', 155, 'hg'),
    ('Shiny', 'F', 6, 'year', 1.15, 'm', 3900, 'g'),
    ('Tom', 'M', 12, 'year', 151, 'cm', 42, 'kg'),
    ('Eva', 'F', 9, 'year', 1.34, 'm', 29, 'kg'),
    ('Marilena', 'F', 20, 'month', 84, 'cm', 112, 'hg'),
    ('Evelyn', 'F', 2, 'month', 56, 'cm', 5350, 'g'),
    ('Evelyn', 'M', 5, 'year', 1.10, 'm', 18.5, 'kg'),
    ('Milly', 'F', 7, 'year', 1.25, 'm', 23, 'kg'),
    ('Rupert', 'M', 10, 'year', 140, 'cm', 40, 'kg'),
    ('Marco', 'M', 6, 'year', 1.14, 'm', 20, 'kg'),
    ('Lisa', 'F', 5, 'year', 1.08, 'm', 17.5, 'kg'),
    ('Emma', 'F', 6, 'month', 64.4, 'cm', 7640, 'g'),
    ('Rob', 'M', 18, 'month', 83.5, 'cm', 109, 'hg'),
    ('Kirk', 'M', 12, 'year', 1.48, 'm', 38, 'kg')
]
```

## 1. Tuples to Dict Conversion (5 points)

Covert the `records` tuples into a list of dictionaries where using the first tuple as keys and each of the other tuples as values.

- How many dictionaries are there in the resulting list?

In [2]:
### Write your solution here

### 2. Data Pre-processing (5 points)

Convert the records in `records` so that 
 - the 'age' columns is expressed in years
 - the 'height' column is expressed in m
 - the 'weight' column is expressed in kg
 
Store the three resulting columns, together with the 'sex' column into a numpy array

In [2]:
### Write your solution here

### 3. Statistics Analysis (5 points, half a point per correct answer)

Compute the following statistics:
    - average height
    - average weight
    - median height
    - median weight
    - standard deviation of the height
    - standard deviation of the weight
    - interquartile range for the height
    - interquartile range for the weight

In [2]:
### Write your solution here

### 4. Covariance and Correlation Matrix (5 points)

- Compute the height-weight-age covariance matrix
- Compute the height-weight-age correlation matrix matrix
- Which property between 'height' and 'weight' shows the highest correlation with age?

In [2]:
### Write your solution here

### 5. Ordinary Least  Square (OLS) estimate (5 points)

For male ('M') and female ('S') compute the linear regression using Ordinary Least Squares estimation for the height with respect to age. Use numpy to compute the coefficient and the intercept of the linear model that better fits the data.

The OLS formulae are explained in slides 18-20 of Lecture 8 slides, and some inspiration for your implementation can be found in Lecture 8 live demo `/live-demos/08_Classes.ipynb`.

In [2]:
### Write your solution here

### 6. Plot the result of the Ordinary Least Square estimate (5 points)

Using `matplotlib` draw one plot, where:
    - you plot the data of the height with respect to age, for males in colour 'red' and for females in 'cyan'
    - you plot the OLS resulting line computed in the previous exercise, for males in colour 'orange' and for females in 'blue'
    
Remember to add a title to the figure, label the two axis, and possibly provide a legend explaining the colour codes

In [ ]:
### Write your solution here

### End of Part 1

Good job! You have completed part 1 of the final assignment. Do not forget to save it and send it to Massi
by the deadline